*{
    margin: 0;
    padding: 0;
}

:root {
    --sidebar-width: 250px;
    --bg-color: #000;
    --color: #eee;
}

body {
    background: var(--bg-color);
    color: var(--color);
}

.container-fluid {
    width: 100%;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
}

.row {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-grid {
    display: grid;
}

@media screen and (max-width: 992px) {
    .d-lg-none {
        display: none;
    }  
}

@media screen and (max-width: 992px) {
    .d-lg-block {
        display: block;
    }  
}

@media screen and (max-width: 500px) {
    .d-xs-none {
        display: none;
    }  
}

@media screen and (max-width: 500px) {
    .d-xs-block {
        display: block;
    }  
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1200px) {
    .grid-cols-xl-3 {
        grid-template-columns: repeat(3, 1fr);
    }  
}

@media screen and (max-width: 992px) {
    .grid-cols-lg-2 {
        grid-template-columns: repeat(2, 1fr);
    }  
}

@media screen and (max-width: 768px) {
    .grid-cols-md-1 {
        grid-template-columns: repeat(1, 1fr);
    }  
}

@media screen and (max-width: 576px) {
    .grid-cols-sm-1 {
        grid-template-columns: repeat(1, 1fr);
    }  
}

.gap-3 {
    gap: 15px;
}

.bg-transparent {
    background: transparent !important;
}

.btn {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    white-space: nowrap;
}

.btn-secondary {
    background: #333;
    color: #ddd;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 16px;
}

.btn-secondary:hover {
    background: #ddd;
}

.btn-secondary.active {
    background: #333;
    color: #444;
}

.mt-3 {
    margin-top: 15px !important;
}

.mt-5 {
    margin-top: 25px !important;
}

.my-5 {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.p-5 {
    padding: 25px !important;
}

.px-3 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.py-3 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.rounded {
    border-radius: 15px;
}

.border {
    border: 1px solid #eee;
}

.overflow-y-scroll {
    overflow-y: auto;
}


.overflow-x-scroll {
    overflow-x: auto;
}

/* video */

.main-vid {
    width: 60%;
    height: 50%;
    margin-top: 5%;
    padding-left: 3%;
}

.vid-title {
    padding-left: 3%;
    font-size: 22px;
    font-family: 'Roboto', sans-serif
}

.vid-sub-title {
    display: inline-block;
    margin-top: 18px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
    
}

.vid-sub-no {
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
}

.vid-user-img {
    padding-left: 3%;
    font-size: 45px;
    margin-top: 10px;
}

.button .vid-sub-title .vid-user-img {
    display: flex;
} 

.comment-bar {
    border-bottom: 1px solid #ccc;
    width: 58%;
    height: 50%;
    background: transparent;
    margin-top: -3%;
}

.button {
    margin-top: 1%;
    padding-left: 12px;
    width: 130px;
    height: 38px;
    border-radius: 25px;
    font-size: 17px;
    cursor: pointer;
}

.gap-5 {
    row-gap: 20px;
}

.side-vid {
    padding-left: 1250px;
    margin-top: -70%;
}

.side-vid-img {
    width: 190px;
    padding-top: 12px;
    border-radius: 15px;
    cursor: pointer;
}

.side-vid-title {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.sv {
    font-size: 15px;
    color: #888;
    font-family: 'Roboto', sans-serif;
}

.side-vid-text {
    padding-top: 20px;
}

.btn-2:hover {
    background: #555;
}

.btn-2 {
    outline: none;
    border: none;
    cursor: pointer;
    background: #333;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    display: flex;
    white-space: nowrap;
    color: #eee;
    font-size: 25px;
    margin-top: -2.5%;
    padding: 15px;
    border-radius: 25px;
    height: 38px;
}

.icon-txt {
    padding: 10%;
    font-size: 15px;
}

.bio {
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-left: 3%;
    background: #111;
    width: 60%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 14px 15px;
}

.com-gap{
    padding-top: 12px;
}

.user-pfp {
    display: fixed;
}

.com-user-id {
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #ccc;
}

.com-icon {
    font-size: 20px;
    color: #bbb;
}

.com-icon-2 {
    font-size: 20px;
    color: #bbb;
}

.com-like {
    font-size: 12px;
    color: #ccc;
}

.com-reply {
    display: inline-block;
    text-decoration: none;
    color: #ccc;
    font-size: 13px;
}

.com-time {
    font-size: 13px;
    color: #666;
    font-family: 'Roboto', sans-serif;
}

.mycomments {
    margin-top: 3%;
    margin-left: -5px;
    font-size: 35px;
    margin-left: -7px;
}

.comment {
    padding-left: 50px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}

.com-text {
    margin-bottom: 5px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.p-1 {
    margin-left: 27%;
    width: 10%;
}

/* header */

.header {
    padding: 10px 1px;
    position: fixed;
    z-index: 3;
    background: #000;
    width: 100%;
    height: 50px;
}

.menu-open-btn, .menu-close-btn {
    background: transparent;
    border: none;
    outline: none;
    font-size: 25px;
    color: #ccc;
}

.logo {
    width: 180px;
    padding-bottom: 0px;
    margin-top: -20px;
}

.input-group{
    position: relative;
}

.search-bar.show {
    display: block;
    position: fixed;
    z-index: 5;
   
}

.search-bar.show .search-input {
    width: 60vw;
}

.search-input {
    width: 450px;
    height: 20px;
    border: 1px solid #444;
    outline: none;
    border-radius: 25px;
    padding: 10px;
    background: #111;
}

.search-btn{
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 1px;
    background: #555;
    border-left: 1px solid #666;
    padding: 10px 25px;
    font-size: 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.search-btn:hover {
    background: #555;
}

.btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #666;
    font-size: 20px;
    color: #ccc;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {

}

.dropdown-menu {
    position: absolute;
    background: #333;
    border-radius: 10px;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    overflow: hidden;
    width: 180px;
    display: none;
}

/* .dropdown-toggle:hover~.dropdown-menu {
    display: block;
} */

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu .dropdown-item,
.dropdown-menu li {
    list-style: none;
    border-bottom: 1px solid #eee;
}

.dropdown-menu .dropdown-item .dropdown-link {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 14px 15px;
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.dropdown-menu .dropdown-item .dropdown-link:hover,
.dropdown-menu .dropdown-item .dropdown-link.active {
    background: #eee;
}

.btn-circle:hover {
    background: #444 !important;
}

.sidebar {
    position: fixed;
    left: 0px;
    width: var(--sidebar-width);
    height: calc(100vh - 63.91px);
    background: #000;
    border-right: 1px solid #555;
    padding-top: 70px;
    transition: 0.5s;
}

.sidebar-menu {
    padding: 5px 15px;
    height: calc(100vh - 90px);
    padding-bottom: 19px;
}

.sidebar-menu li {
    list-style: none;
}

.sidebar-menu-divider {
    height: 1px;
    border-top: 1px solid #666;
    margin: 10px 0px;
}

.sidebar-menu-heading {
    font-size: 18px;
    padding: 5px 15px;
}

.sidebar-menu .sidebar-menu-item {


}

.sidebar-menu .sidebar-menu-item .sidebar-menu-link {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 14px 15px;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.sidebar-menu .sidebar-menu-item .sidebar-menu-link:hover,
.sidebar-menu .sidebar-menu-item .sidebar-menu-link.active {
    background: #555;
}

.sidebar-menu .sidebar-menu-item .sidebar-menu-link .sidebar-menu-icon {
    font-size: 20px;
    color: #ccc;
}

.sidebar-menu .sidebar-menu-item .sidebar-menu-link .sidebar-menu-text {
    font-size: 18px;
    color: #ccc;
}

.sidebar .menu-close-btn {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        margin-left: calc(-1 * var(--sidebar-width));
        z-index: 10;
        padding-top: 30px;
        height: 100vh;
    }  

    .sidebar .menu-close-btn {
        display: block;
    }
}

.sidebar.open {
    margin-left: 0px;
}

.main {
    padding-top: 120px;
    padding-left: var(--sidebar-width);
}

@media screen and (max-width: 768px) {
    .main {
        padding-left: 0px;
    }  
}

.categories-section {
    position: fixed;
    left: calc(var(--sidebar-width) + 15px);
    right: 15px;
    top: 70px;
    z-index: 2;
    background: #000;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 768px) {
    .categories-section {
        left: 15px;
    }  
}

.card {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.card .card-img img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.card .card-user-img img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.card .card-title {
    font-size: 18px;
    font-weight: bold;
    color: #ccc;
}

.card .card-sub-title,
.card .card-meta {
    font-size: 16px;
    color: #666;
}

/* Card Responsive */
@media screen and (max-width: 576px) {
    .card .card-img img {
        height: 250px;
    }
}

@media screen and (max-width: 400px) {
    .card .card-img img {
        height: 180px;
    }
}


.footer {
    padding-left:var(--sidebar-width);
    font-size: 17px;
    background: #000;
}

.footer-menu {
    
}

.footer-menu ul {
    display: flex;
    gap: 15px;
}

.footer-menu ul li {
    list-style: none;
}

.footer-menu ul li a {
    color: #ccc;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .footer {
        padding-left: 0px;
    }  
}